.film-info-container{
    margin-left: 12%;
    margin-right: 12%;
    color: var(--secondary-white);
    font-family: var(--custom-font);
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

.film-header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    height: 60vh;
    filter: blur(10px);
}

.film-header::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(300deg, #000000 7.0%, rgba(0, 0, 0, 0) 40.0%),
    linear-gradient(60deg, #000000 7.0%, rgba(0, 0, 0, 0) 40.0%),
    linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 40.0%);
    z-index: 1;
}

.film-media-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vh;
    overflow: hidden;
    margin-top: -40vh;
    column-gap: 10vh;
}

.movie-like-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 3vh;
    z-index: 1;
}

.like-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3vh 1vh;
    row-gap: 3vh;
    background-color: var(--secondary-blue);
    border-radius: 5vh;
}

.movie-poster-rating{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.movie-rating .MuiRating-iconFilled {
    color: gold;
}

.movie-rating .MuiRating-iconEmpty {
    color: gray;
}

.movie-rating-number{
    color: var(--secondary-yellow);
    font-family: var(--custom-font);
    font-size: 24px;
}

.film-details {
    font-size: 20px;
    width: 70vh;
    z-index: 1;
}

.player-wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    position: relative;
    padding-top: 56.25%; /* 16:9 aspect ratio */
}

.carousel-cast {
    margin-top: auto;
    padding: 5vh;
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 80% !important;
}

.review-create-container{
    margin: 5vh;
    padding: 5vh;
}

.review-container {
    margin: 3vh;
    padding: 3vh;
}