.user-tabs{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2vh;
    flex-direction: column;
}

.box-tabs{
    background-color: transparent !important;
}

.user-tab-container{
    background-color: var(--secondary-black-light);
    border-radius: 3vh;
    border: 1px solid var(--secondary-blue) !important;
}

.MuiTab-root{
    color: var(--primary-yellow) !important;
}

.MuiTabs-indicator{
    background-color: var(--secondary-red) !important;
}

.MuiTab-textColorSecondary{
    color: var(--secondary-red) !important;
}

.Mui-selected{
    color: var(--secondary-red) !important;
}