.user-tabs{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    flex-direction: column;
}

.box-tabs{
    background-color: transparent !important;
}

.user-tab-container{
    background: linear-gradient(180deg, rgba(8,10,12,1) 0%, rgba(15,23,42,1) 100%);
    border-radius: 24px;
    box-shadow: 0 0 8px var(--secondary-blue-light);
}

.MuiDivider-vertical {
    background-color: var(--secondary-blue-light);
    height: 100%;
}

.MuiTab-root{
    color: var(--secondary-yellow) !important;
    font-family: var(--custom-font) !important;
    transition: background-color 0.8s ease !important;
}

.MuiTab-root:hover {
    background-color: var(--secondary-blue-light) !important;
}

.MuiTabs-indicator{
    display: none !important;
}

.Mui-selected{
    color: var(--secondary-yellow) !important;
    background-color: var(--secondary-blue-light) !important;
}