.user-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    max-width: 100%;
    max-height: 100%;
    font-family: var(--custom-font);
}

.user-bio-info{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    max-width: 80%;
    margin-bottom: 3rem;
    color: var(--primary-blue);
    overflow: hidden;
}

.user-row-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.user-micro-info{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.user-micro-stats{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: linear-gradient(180deg, rgba(8,10,12,1) 0%, rgba(15,23,42,1) 100%);
    border-radius: 3vh;
    padding: 1vh;
    box-shadow: 0 0 8px var(--secondary-blue-light);
    overflow: hidden;
}
.user-micro-stats li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 0.5rem;
    border-right: 1px solid var(--secondary-blue-light);
    font-family: var(--custom-font);
    font-size: 24px;
    color: var(--primary-blue);
}
.user-micro-stats li:last-child {
    border-right: none;
}

.user-micro-stats-name{
    font-family: var(--custom-font);
    font-size: 12px;
    color: var(--primary-yellow);
}

.user-bio-text{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-white);
    font-size: 18px;
    margin-top: 1vh;
    font-family: var(--custom-font);
}