.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-blue);
    border-radius: 3vh;
    margin: 10vh;
}

.about-head{
    font-family: var(--custom-font);
    padding-top: 3vh;
    color: var(--secondary-white);
}

.about-head1{
    font-family: var(--custom-font);
    padding-top: 1vh;
    color: var(--secondary-white);
    text-align: left;
}

.about-text{
    padding: 10vh;
    font-size: 20px;
    font-family: var(--custom-font);
    color: var(--secondary-white);
}

.about-text1{
    padding: 2vh;
    font-size: 14px;
    font-family: var(--custom-font);
    color: var(--secondary-white);
}

.section-image {
    max-width: 50%;
    height: auto;
    display: block;
}