.DropdownSearchComponent {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 6vh;
    background-color: var(--primary-black);
    overflow-y: auto;
    max-height: 30vh;
    z-index: 3;
}

.SearchResults {
    padding: 0;
    margin: auto;
}

.SearchResults li {
    color: var(--secondary-green);
    padding: 10px;
    font-size: 20px;
    border-bottom: 1px solid var(--primary-blue);
    cursor: pointer;
}

.SearchResults li:hover {
    color: var(--secondary-green-hover);
}