:root {
    --primary-red: #E4416A;
    --primary-blue: #75FBE2;
    --primary-yellow: #F1B36E;
    --primary-black: #171718;
    --secondary-yellow: antiquewhite;
    --custom-font: 'Lato';
    --secondary-blue: #0F172A;
    --secondary-white: #FFFCF9;
    --secondary-green: #63D471;
    --secondary-green-hover: #45a049;
}
