.lists-of-films {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 2vh;
    background-color: var(--secondary-black-light);
    border: 2px solid var(--secondary-blue);
    border-radius: 5vh;
    padding: 2vh;
    width: 100%;
}

.list-card {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    column-gap: 5vh;
    margin: 1vh;
}

.list-poster {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 220px;
}

.list-button-create{
    background-color: var(--secondary-green);
    font-family: var(--custom-font);
    width: 15vh;
    border-radius: 5vh;
    height: 5vh;
    margin: 1vh;
    padding: 1vh;
    color: var(--secondary-black);
}
.list-button-create:hover{
    background-color: var(--secondary-green-hover);
}
