.films-browser-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2vh;
    flex-direction: row;
    background-color: var(--secondary-black-light);
    padding: 2vh;
    border: 2px solid var(--secondary-blue);
    border-radius: 5vh;
    width: 100%;
}

.film-browser-card {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.film-browser-poster {
    display: flex;
    flex-direction: column;
    position: relative;
}

.film-poster-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 6px;
}
