.films-browser-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    flex-direction: row;
    margin: 1rem;
    padding: 1rem;
    width: 100%;
}

.films-browser-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 0.5rem;
}

.film-poster-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.no-movies-container{
    display: flex;
    justify-content: center;
}

.no-movies-text{
    font-family: var(--custom-font);
    font-size: 24px;
    color: var(--secondary-yellow);
}

.dissatisfied-icon {
    color: var(--secondary-yellow) !important;
    font-size: 36px !important;
}

