.Search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5vh !important;
    width: 15vh;
    height: 3vh;
    background-color: var(--secondary-black) !important;
    color: var(--secondary-red) !important;
    border-color: var(--secondary-red) !important;
}
.Search:hover{
    border-color: var(--secondary-red) !important;
    box-shadow: var(--secondary-black-transparent) !important;
}