.image-container {
    display: flex;
    width: 100%;
    height: 92vh;
    justify-content: center;
    background-size: cover;
    position: relative;
    z-index: 1;

}

.image-container::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(300deg, #000000 8.0%, rgba(0, 0, 0, 0) 30.0%),
    linear-gradient(60deg, #000000 8.0%, rgba(0, 0, 0, 0) 30.0%),
    linear-gradient(0deg, #000000 2.0%, rgba(0, 0, 0, 0) 30.0%),
    linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 32.0%),
    linear-gradient(270deg, #000000 0%, rgba(0, 0, 0, 0) 32.0%);
    backdrop-filter: blur(8px);
    z-index: -1;
}

.registration-container {
    height: 75vh;
    width: 60vh;
    background-color: #0F172A;
    border-radius: 3vh;
    margin-top: 6vh;
    padding: 1vh;
}

.head {
    font-size: 40px;
    padding-top: 2vh;
    text-align: center;
    color: #FFFCF9;
    font-family: 'Poppins', sans-serif;
}

.description {
    font-size: 16px;
    padding-bottom: 2vh;
    text-align: center;
    color: #FFFCF9;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-group{
    text-align: left;
    margin: 1vh;
}

label {
    margin-top: 1vh;
    margin-bottom: 1vh;
    color: #FFFCF9;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.registration-input {
    font-family: 'Poppins', sans-serif;
    color: #FFFCF9;
    padding: 1vh;
    border: 1px solid #FFFCF9;
    border-radius: 1vh;
    background-color: rgba(0, 0, 0, 0.2);
    width: 35vh;
}

.button-accept {
    margin: 8vh;
    background-color: #63D471;
    color: #FFFCF9;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    border-radius: 3vh;
    width: 35vh;
    height: 5vh;
}

.button-accept:hover {
    background-color: #45a049;
}

.disclaimer {
    font-size: 16px;
    padding-bottom: 2vh;
    text-align: center;
    color: #FFFCF9;
    font-family: 'Poppins', sans-serif;
}

.link {
    font-size: 16px;
    padding-bottom: 2vh;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #63D471
}

.link:hover {
    color: #63D471
}
