.default {
    background: rgb(8,10,12);
    background: linear-gradient(171deg, rgba(8,10,12,1) 0%, rgba(15,23,42,1) 100%);
    font-family: var(--custom-font);
    min-height: 100vh;
}

.Layout {
    font-family: var(--custom-font);
    min-height: 100vh;
    background: rgb(8,10,12);
    background: linear-gradient(171deg, rgba(8,10,12,1) 0%, rgba(15,23,42,1) 100%);
    z-index: -2;
}