.NavList{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3vh;
    font-family: var(--custom-font);
    margin-top: 0;
    margin-bottom: 0;
}

.NavListLink{
    color: var(--secondary-blue-light);
    font-size: 20px;
    transition: opacity 0.3s ease;
}

.NavListLink:hover{
    color: var(--secondary-blue-light);
    opacity: 0.8;
}
