.NavList{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3vh;
    font-family: var(--custom-font);
}

.NavListLink{
    color: var(--primary-red);
    font-size: 18px;
    transition: opacity 0.3s ease;
}

.NavListLink:hover{
    color: var(--primary-red);
    opacity: 0.8;
}
