.search-list-container  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.search-list-field{
    background-color: var(--secondary-yellow) !important;
    border-radius: 10px !important;
    width: 25vw !important;
    font-family: var(--custom-font) !important;
    margin: 1rem !important;
}

.list-search-movie{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 1rem;
}

.film-search-poster{
    border: none;
}

.no-search{
    color: var(--secondary-white);
}

.add-movie-button{
    background-color: var(--secondary-green) !important;
    color: var(--secondary-black) !important;
    margin: 1rem !important;
    font-family: var(--custom-font);
}
.add-movie-button:hover{
    background-color: var(--secondary-green-hover) !important;
}

.remove-movie-button{
    background-color: var(--secondary-red) !important;
    color: var(--secondary-black) !important;
    margin: 1rem !important;
    font-family: var(--custom-font);
}
.remove-movie-button:hover{
    background-color: var(--primary-red) !important;
}