.list-create-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.list-inner-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: var(--secondary-black-gray);
    margin: 5vh;
    width: 75%;
    border-radius: 10vh;
    min-height: 75vh;
}

.toggle-group{
    background-color: var(--primary-yellow) !important;
    color: var(--secondary-black) !important;
    font-family: var(--custom-font) !important;
    margin: 5vh !important;
    width: 25vw !important;
    height: 4vh !important;
}

.toggle-button{
    width: 100% !important;
}

.search-list-field{
    background-color: var(--secondary-yellow) !important;
    border-radius: 1vh !important;
    width: 25vw !important;
    font-family: var(--custom-font) !important;
    margin-top: 1vh !important;
}

.title-field{
    background-color: var(--secondary-yellow) !important;
    border-radius: 1vh !important;
    width: 20vw !important;
    font-family: var(--custom-font) !important;
}

.content-field{
    background-color: var(--secondary-yellow) !important;
    border-radius: 1vh !important;
    width: 25vw !important;
    font-family: var(--custom-font) !important;
    margin: 2vh !important;
}

.search-list-container  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.list-search-movie{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 5vh;
    border-radius: 10vh;
}

.list-mine-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-movie-button{
    background-color: var(--secondary-green) !important;
    color: var(--secondary-black) !important;
    margin: 1vh !important;
    font-family: var(--custom-font);
}
.add-movie-button:hover{
    background-color: var(--secondary-green-hover) !important;
}

.remove-movie-button{
    background-color: var(--secondary-red) !important;
    color: var(--secondary-black) !important;
    margin: 1vh !important;
    font-family: var(--custom-font);
}
.remove-movie-button:hover{
    background-color: var(--primary-red) !important;
}

.save-list-button{
    background-color: var(--secondary-green) !important;
    color: var(--secondary-black) !important;
    margin-bottom: 3vh !important;
    width: 20vw;
    font-family: var(--custom-font);
    border-radius: 5vh;
}
.save-list-button:hover{
    background-color: var(--secondary-green-hover) !important;
}

.update-list-button{
    background-color: var(--secondary-yellow) !important;
    color: var(--secondary-black) !important;
    margin-bottom: 3vh !important;
    width: 20vw;
    font-family: var(--custom-font);
    border-radius: 5vh;
}
.update-list-button:hover{
    background-color: var(--primary-yellow) !important;
}

.list-empty{
    font-size: 24px;
    font-family: var(--custom-font);
    color: var(--primary-yellow);
}