.Navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5vh;
    background: linear-gradient(180deg, rgba(8,10,12,0.2) 0%, rgba(15,23,42,0.2) 100%);
    position: relative;
    z-index: 1000;
}

.NavRow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 10vh;
}

.RightContainer {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 3vh;
}

.Username {
    color: var(--secondary-blue-light);
    font-size: 20px;
}

.LeftContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap:1vh;
}
