.Navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5vh;
    background-color: var(--primary-black);
    z-index: 1;
}

.NavRow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 10vh;
}

.RightContainer {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 3vh;
}

.Username {
    color: var(--primary-red);
    font-size: 20px;
}

.LeftContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap:1vh;
}
